:root{
    --couleur-1:#1b5485;
    --couleur-2:#e7a03c;
    --couleur-3:white;
    --couleur-4:#eaeaea;
}
*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}

.menu{
    height: 2%;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 5px 0px 10px rgb(196,196,196);
    z-index: 1;
}
.logo{
    /* width: 150px; */
    height: 170px; 
    cursor: pointer;
    margin-left: 2%;
}
.menu ul li{
   list-style-type: none;
   display: inline-block; 
   margin: 0 20px;
   position: relative;
   
}
.menu ul li a{
    text-decoration: none;
    color:var(--couleur-1);
    text-transform: uppercase;
    font-weight: bold;

}
.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: var(--couleur-2);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}
.menu ul li:hover::after{
    width: 100%;
}
.menu li a.active{
    color: var(--couleur-2);
    border-left:5px solid var(--couleur-2) ;
    padding-left: 15px;
}

/*Contenue acceuil */
.baniere{
    width: 100%;
    
     background-color: var(--couleur-4); 
    /*background-image:linear-gradient(rgb(0,0,0,0,0.75),rgb(0,0,0,0,0.75)),url(images/bg_acceuil.png) ;
    background-size: cover;
    background-position:center ;*/
    margin: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem;
    z-index: -1;
     
 }
.baniere div{
    height: 60%;
    width: 40%;
    position: absolute;
    


    /* background-color: #1b5485; */
    /* display: inline-block; */
    position: relative;
    /* left: 50%; */
    /* background-color: #1b5485; */
}
.baniere div img{
    width: 100%;
    height: 100%;
    

} 
.infos{
    position: absolute;
    /* transform: translateX(-50%); */
    display: block;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}
.infos h1{
    font-size:35px;
    font-weight: bolder;
    color: var(--couleur-1);
    text-align: start;

}
.infos p{
    font-size:20px;
    text-align: start;
    color: var(--couleur-1);
}
.btn{
    width: 200px;
    padding: 15px 0;
    margin: 10px 5px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid var(--couleur-1);
    cursor: pointer;
    color: var(--couleur-2);
    background: transparent;
    position: relative;
    overflow: hidden;
    outline: none;
    display: inline-block;
}
.spn{
    background: var(--couleur-1);
    height: 100%;
    width: 0;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    color: var(--couleur-3);

}
.btn:hover .spn{
    width: 100%;
}
.container{
    width: 100%;
    padding: 8rem;
}
.container h1{
    display: flex;
    color: var(--couleur-1);
    align-items: center;
    justify-content: center;
}
.container h1 span{
    color: var(--couleur-2);
}
.container h1::after{
    content: '';
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--couleur-2);
    height: 3px ;
    background-color: var(--couleur-2);
    margin-top: 50px;
    

}
.paragraphe{
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin-top:20px ;
}
.spi{
    color: var(--couleur-2);
    margin-left: 10px;
}
/* Section comment ça marche index */
div .paramarche{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    position: relative;
    
}
div .paramarche p{
    width: 20%;
    margin-left: 5%;
    text-align: justify;
    font-size: medium;
    position: relative;
    
}
svg{
    fill: var(--couleur-2);
}